$milk: #e8e8e8;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

a {
  color: $milk;
}

body {
  font-family: "Roboto", sans-serif;
  color: $milk;
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow-x:hidden;
}

.container {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;

  // HEADER

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 3rem;
    gap:1rem;
  }

  .line{
    height:2px;
    width:100%;
    background:white;
    margin-left:2rem;
    margin-right:-3rem;
    z-index:2;
    opacity:0.2;

  }


  .blur-bg {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(210, 201, 255, 0.2);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position:relative;

  }

  .bar{
    width:2rem;
    height:4px;
    background:white;
  }

  .mobile{
    display:flex;
    gap:0.7rem;
    flex-direction:column;
    cursor:pointer;
    padding:1.5rem;
  }

 .mobile-menu{
   position:fixed;
   top:0;
   right:0; 
   bottom:0;
   z-index:323;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(15px);
   transition: max-width 0.3s ease;

.menu-icon.mobile.blur-bg{
  border-radius:0;
}
  
   .blur-bg{

    .nav-bar.mobile{
      flex-direction:column;
      gap:2rem;
      height:100vh;
      min-width:20rem;


    }
   }

   .blur-bg.blur-mobile{
     border-radius:0;
   }
  
  }

 .nav-bar.mobile{
   flex-direction:column;
   gap:2rem;
 }


  .menu-icon.blur-bg.mobile{
    border-radius:0.5rem;
  }

  .nav-bar {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
  }

  .nav-item a {
    padding: 1.5rem;
    white-space: nowrap;
    position:relative;

    &:after{
      content:'';
      display:block;
      width:0%;
      left:50%;
      transform:translatex(-50%);
      height:2px;
      background:white;
      position:absolute;
      transition:0.3s ease;

    }

    &:hover:after{
       width:80%;
    
    }

    .count {
      font-weight: 600;
      margin-right: 5px;
    }
  }


  // END OF HEADER

  .main-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin:auto;
    gap:10%;
    margin-top:20vh;
    padding:2rem;
    max-width: 1920px;

    .text-box {
      display: flex;
      flex-direction: column;

      gap: 2rem;
      width:30%;
      max-width:30rem;
      min-width:10rem;

      h1{
        font-size:5rem;
        font-weight:100;
      }

      p{
        line-height:1.5;
      }
    }

    .big-circle-button{
     aspect-ratio:1;
      background:white;
      color:black;
      display:flex;
      align-items:center;
      justify-content:center;
      border-radius:50%;
      padding:3.5rem;
      font-weight:700;
      font-size:1.5rem;
      transition:background-color 0.3s ease;

      &:hover{
        background:rgb(197, 197, 197);
      }
      
    }
 
  }
  }

  //RESPONSIVE

  @media screen and (max-width: 900px){
    .container{

header{
  margin:0;
  margin-left:1rem;
  padding:0;

.blur-bg{
  .count{
    display:none;
  }

  .nav-bar{
    gap:0;
  } 


}
}

       .main-container{
      flex-direction:column;
      align-items: center;
      gap:3rem;
      text-align:center;

      .text-box{
        width:70%;
      }
      .big-circle-button{
        width:12rem;
        height:12rem;
      }
    }
    }
  }

  @media screen and (max-width: 768px){
   .container{
     .main-container{
       font-size:1.5rem;

       .text-box{
         width:100%;
       }
     }
   }
  }

.menu-on{
  max-width:768px;
}

.menu-off{
  max-width:0px;
}